/* Dark Theme with Violet Accents */
body {
    background: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Linear Gradient for Header and Footer with Gold Metallic Effect */
header {
    background: linear-gradient(45deg, #d4af37, #a57c1f, #c59d3f, #c49e5d);
    padding: 20px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #d4af37, #a57c1f, #c59d3f, #c49e5d);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Sections */
.container {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

h2 {
    border-bottom: 2px solid #6a11cb;
    display: inline-block;
    padding-bottom: 5px;
}

/* Grid-based Project Section */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #d4af37, #a57c1f, #c59d3f, #c49e5d);
}

/* Content */
.content {
    width: 90%; /* Adjust width for responsiveness */
    max-width: 400px; /* Reduce width to prevent it from being too wide */
    margin: 20px auto; /* Center horizontally */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    text-align: center; /* Centers text */
}

.short-text {
    margin: 0 auto;
    color: white;
    font-size: 16px;
}

.show-more-btn {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
    display: block; /* Ensures full width */
    text-align: center; /* Centers the text */
    margin: 10px auto; /* Centers horizontally */
    user-select: none;
}

.details {
    margin-top: 10px;
    color: #ffffff;
    display: none;
    font-size: 16px;
    transition: max-height 0.3s ease;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: #FFD700; /* Vibrant gold */
}

a:active {
    color: #FFC107; /* Slightly deeper gold */
}
